.row{
	margin: 10px;
}

#categories{
	margin: 10px;
}

#categories mat-card{
	text-align: center;
}

#blogs{
	margin: 10px;
}

#blogs mat-card-title {
	font-size: large;
}

// #blogs mat-card{
// 	a:link    {color:#000;}  /* unvisited link  */
// 	a:visited {color:#000;}  /* visited link    */
// 	a:hover   {color:#000;}  /* mouse over link */
// 	a:active  {color:#000;}  /* selected link   */ 
// }

// .text-oneline {
// 	text-overflow: ellipsis;
// 	overflow: hidden;
// 	white-space: nowrap;
// 	// width: 400px;
// 	display: block;
// }
